*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pics/unif.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav img{
    width: 150px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.liens{
    flex: 1;
    text-align: right;
}
.liens ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.liens ul li a{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}
.liens ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: crimson;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.liens ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    color: aliceblue;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
}

nav .fa{
    display: none;
}

/*----------------program---------------*/
.program{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.program h1{
    font-size: 36px;
    font-weight: 600;
}

.program p{
    color: #777;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.program-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.program-col ul li{
    list-style: none;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.program-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
/*  CONTACTER   */
.cta{
    margin: 100px auto;
    width: 60%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pics/ctaus.avif);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: aliceblue;
    margin-bottom: 40px;
    padding: 0;
}

/*     footer     */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
/*___________________page actualite -----------------------*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pics/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: aliceblue;
}
.sub-header h1{
    margin-top: 100px;
}

/*--------------------------------page cours-------------------------------------*/
.sub-header-cours{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pics/itbg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: aliceblue;
}
.sub-header-cours h1{
    margin-top: 100px;
}
.program a{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}
/*-------------------general button----------------------*/

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid crimson;
    background-color: crimson;
    transition: 1s;
}

/*-----------for phones---------------*/

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        color: aliceblue;
    }
    .liens ul li{
        display: block;
    }
    .liens{
        position: absolute;
        background-color: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .liens ul{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .cta h1{
        font-size: 24px;
    }
}